

.aside {
	grid-area: aside;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	background-attachment: fixed;
	background-image:url("https://1.bp.blogspot.com/-Fo3iRt97ZXY/XvSG4EMwi0I/AAAAAAAAVEo/mrApRTcVVRk1m-fX9K-ffNwRUXlHUocdwCLcBGAsYHQ/s1600/h.jpg");
}


.default-plantilla {
	display: grid;
	grid-template-areas: "header"
						 "main"
						 "footer";
	grid-template-rows: 10vh 90vh 10vh;
	width:100%;
}
.default-plantilla header {
	grid-area: header;
	width: 100%;
}
.default-plantilla main {
	grid-area: main;
	width: 100%;
}
.default-plantilla footer {
	grid-area: footer;
	width: 100%;
}
