.tienda {
	width:100vw;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap:10px;
}

.precio .fab {
	width: 10px;
	height: 10px;
	font-size: 15px;
}

.fab {
	font-size: 1rem;
}