<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<th:block th:replace="fragments/head:: head"/>
</head>
<body class="default-plantilla">

	<header th:replace="fragments/menu :: menu-principal"></header>
     
	<main class="columna">
		<div class="ventanita">
			<div class="ventanita-header">
		    	<h4>Usuarios</h4>
			</div>
			<div class="ventanita-body">
				<ul class="sin-estilo">
				   <li><a href="#">Crear usuario</a></li>
				   <li><a th:href="@{/usuarios/adminList}">Ver usuarios</a></li>
				   <li></li>
				   <li></li>
				</ul>
				<a th:href="@{/usuarios/adminList}" class="btn btn btn-redondo btn-principal-hover abajo">Inicio</a>
			</div>
		</div>
	
		<div class="ventanita">
			<div class="ventanita-header">
		    	<h4 class="my-0 fw-normal">Skins</h4>
			</div>
			<div class="ventanita-body">
				<ul class="sin-estilo">
				   <li><a th:href="@{/skin/create}">Crear skin</a></li>
				   <li><a th:href="@{/skin/list}">Ver skins</a></li>
				   <li></li>
				   <li></li>
				</ul>
				<a th:href="@{/skin/list}" class="btn btn btn-redondo btn-principal-hover abajo">Inicio</a>
			</div>
		</div>
	
		<div class="ventanita">
			<div class="ventanita-header">
		    	<h4>Recompensas</h4>
			</div>
			<div class="ventanita-body">
				<ul class="sin-estilo">
				   <li><a th:href="@{/admin/daily}">Recompensas diarias</a></li>
				   <li><a href="#">Misiones[Proximamente]</a></li>

				</ul>
				<a th:href="@{/admin/daily}" class="btn btn btn-redondo btn-principal-hover abajo">Inicio</a>
			</div>
		</div>
	
		<div class="ventanita">
			<div class="ventanita-header">
		    	<h4>Productos</h4>
			</div>
			<div class="ventanita-body">
				<ul class="sin-estilo">
				   <li><a th:href="@{/productos/create}">Crear producto</a></li>
				   <li><a th:href="@{/productos/list}">Ver productos</a></li>
				   <li><a th:href="@{/action/list}">Modificar Skins</a></li>
				   <li></li>
				</ul>
				<a th:href="@{/productos/list}" class="btn btn btn-redondo btn-principal-hover abajo">Inicio</a>
			</div>
		</div>
   	</main>

	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>






