<form th:fragment="login" th:action="@{/login}"  method="post" id="formLogin" class="formulario form-login">
	<img th:src="@{/images/login.jpg}">
	
	<div class="form-grupo">
		<label for="username" class="form-etiqueta">Usuario</label>
		<input type="text" name="username" id="username" class="form-campo" placeholder="Nombre de usuario" required autofocus>
	</div>
	
	<div class="form-grupo">
        <label for="password" class="form-etiqueta">Password</label>
		<input type="password" name="password" id="password" class="form-campo" placeholder="Contraseña" required>
	</div>
	
	<h5>
		Si todavia no tienes una cuenta haz click <a th:href="@{/signup}">aqui</a>
		para registrate
	</h5>
</form>

	
<form  th:fragment="signup" th:action="@{/signup}"  method="post" id="formRegister" class="formulario form-login" th:object="${newUser}">
		<img th:src="@{/images/login.jpg}">
		

		<div class="form-grupo">
			<label for="apodo" class="form-etiqueta">Apodo</label>
			<input type="text" th:field="*{nombre}" class="form-campo" placeholder="Nombre de usuario" required autofocus>
			<div th:replace="fragments/validacion/mensajes :: error(nombre.obl)"></div>
		</div>
		
		<div class="form-grupo">
	        <label for="usernameReg" class="form-etiqueta">Username</label>
			<input type="text" id="usernameRef" th:field="*{username}" class="form-campo" placeholder="Contraseña" required>
			<div th:replace="fragments/validacion/mensajes :: error(usr.obl)"></div>
			
		</div>
		
		<div class="form-grupo">
	        <label for="passwordReg" class="form-etiqueta">Password</label>
			<input type="password" id="passwordReg" th:field="*{password}" class="form-campo" placeholder="Contraseña" required>
			<div th:replace="fragments/validacion/mensajes :: error(pass.obl)"></div>
		</div>
		
		<h5>
			Si ya tienes una cuenta haz click <a th:href="@{/login}">aqui</a>
			para registrate
		</h5>
</form>