<form th:fragment="login" th:action="@{/login}"  method="post" id="formLogin" class="formulario form-login">
	<img th:src="@{/images/login.jpg}">
	
	<div class="form-grupo">
		<label for="username" class="form-etiqueta">Usuario</label>
		<input type="text" name="username" id="usernameLog" class="form-campo" placeholder="Nombre de usuario" autofocus>
	</div>
	
	<div class="form-grupo">
        <label for="password" class="form-etiqueta">Password</label>
		<input type="password" name="password" id="passwordLog" class="form-campo" placeholder="Contraseña">
	</div>
	
	<h5>
		Si todavia no tienes una cuenta haz click <a th:href="@{/signup}">aquí</a>
		para registrarte
	</h5>
	<h5>
		¿Has olvidado tu contraseña? Haz click <a th:href="@{/tokens/newPass}">aquí</a>
		 para intentar recuperarla
	</h5>
</form>

	
<form  th:fragment="signup(action)" th:action="@{/{act} (act=${action})}"  method="post" id="formRegister" class="formulario form-login" th:object="${newUser}">
		<img th:src="@{/images/login.jpg}">
		

		<div class="form-grupo">
			<label for="apodo" class="form-etiqueta">Apodo</label>
			<input type="text" id="nombreReg" th:field="*{nombre}" class="form-campo" placeholder="Nombre de usuario" autofocus>
			<div th:replace="fragments/validacion/mensajes :: error(nombre.obl)"></div>
		</div>
		
		<div class="form-grupo">
	        <label for="email" class="form-etiqueta">Email</label>
			<input type="email" id="email" th:field="*{email}" class="form-campo" placeholder="Email">
			<div th:replace="fragments/validacion/mensajes :: error(email.obl)"></div>
			<div th:replace="fragments/validacion/mensajes :: error(email.err)"></div>
		</div>
		
		<div class="form-grupo">
	        <label for="usernameReg" class="form-etiqueta">Username</label>
			<input type="text" id="usernameRef" th:field="*{username}" class="form-campo" placeholder="Username">
			<div th:replace="fragments/validacion/mensajes :: error(usr.obl)"></div>
		</div>
		
		<div class="form-grupo">
	        <label for="passwordReg" class="form-etiqueta">Password</label>
			<input type="password" id="passwordReg" th:field="*{password}" class="form-campo" placeholder="Contraseña">
			<div th:replace="fragments/validacion/mensajes :: error(pass.obl)"></div>
		</div>
		
		<h5>
			Si ya tienes una cuenta haz click <a th:href="@{/login}">aquí</a>
			para iniciar sesion
		</h5>

		
		<input th:field="*{id}" name="id" type="hidden">
		<input th:field="*{skin.id}" type="hidden">
		<input th:field="*{energia.id}" type="hidden">
</form>