<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<th:block th:replace="fragments/head:: head"/>
</head>
<body class="default-plantilla">

	<header th:replace="fragments/menu :: menu-principal"></header>
	
	<main>
		<section th:replace="fragments/validacion/alertas :: alert(${msgLogin})"></section>
		
		<section>
				<form th:replace="fragments/elementos/forms :: login"></form>
				<div class="centrar">
					<button class="btn  btn-secundario-hover" form="formLogin">Enviar</button>
				</div>
		</section>
		
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer>
	<script>
			$(".login").addClass("oculto")
	</script>
</body>
</html>