<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/head:: head" />
</head>
<body>
	<nav th:insert="fragments/menu :: menu-principal" />

	
	<div class="row">
		<div class="col col-lg-4"></div>
		<div class="col col-lg-4">
			<h1>Login</h1>
			<div th:if="${msg!=null}">
				<p class="alert alert-danger" th:text="${msg}"></p>
			</div>
			<form name="form" th:action="@{/login}" method="post" class="form-signin">
				<div class="form-group">
					<label for="username" class="sr-only">Usuario</label>
					<input type="text" name="username" id="username" class="form-control" placeholder="Nombre de usuario" required autofocus>
				</div>
				<div class="form-group">
           			<label for="password" class="sr-only">Password</label>
					<input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>
				</div>
				<input class="btn btn-lg btn-primary btn-block" name="submit" type="submit" value="Enviar"></input>
			</form>
			<h5>
				Si todavia no tienes una cuenta haz click <a th:href="@{/signup}">aqui</a>
				para registrate
			</h5>
		</div>
	</div>


</body>
</html>



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<th:block th:replace="fragments/head:: head"/>
</head>
<body class="default-plantilla">

<header th:replace="fragments/menu :: menu-principal"></header>
	
	<main>
		<form th:action="@{/{act} (act=${action})}" method="post" th:object="${user}">
			<label>Apodo</label>
			<input th:field="*{nombre}" name="nombre" type="text"><br>
			
			<label>Username</label>
			<input th:field="*{username}" name="username" type="text"><br>
			
			<label>Password</label>
			<input th:field="*{password}" name="password" type="password"><br>
			
			<select name="skin" sec:authorize="hasAnyAuthority('ADMIN')">
				<option th:text="'Elige una opcion'" value></option>
				<option th:each="skin:${skins}" th:value="${skin.id}" th:text="${skin.imagen}">
			</select>
			
			<input th:field="*{id}" name="id" type="hidden">
			<input th:field="*{skin.id}" type="hidden">
			
			<button type="submit">Enviar</button>
		</form>
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer>
	
	<th:block th:replace="fragments/modals :: modal-login"></th:block>

</body>
</html>