<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<th:block th:replace="fragments/head:: head"/>
</head>
<body class="default-plantilla">

<header th:replace="fragments/menu :: menu-principal"></header>
	
	<main>
		<table>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Puntos</th>
			</tr>
			<tr th:each="user:${usuarios}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.nombre}"></td>
				<td th:text="${user.puntos}"></td>
			</tr>
		</table>
	</main>

	<footer th:replace="fragments/footer :: footer"></footer>
	
	    <th:block th:replace="fragments/modals :: modal-login"></th:block>

</body>
</html>