<th:block th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>OneClick</title>
	
	
	<!-- Bootstrap core CSS 
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template 
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    -->
    <link th:href="@{/images/favicon.ico}" rel="icon">
    
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script> -->
    
    <!-- Mi CSS -->
    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	
	<!-- Mi js -->
	<script th:src="@{/js/main.js}"></script>
</th:block>
