<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	
	<link th:href="@{/images/favicon.ico}" rel="icon">
	<!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    
    <!-- Script -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Mi CSS -->
    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">
	<link th:href="@{/css/estilos.css}" rel="stylesheet">

</head>
