<header th:fragment="menu-principal">
        <div>
            <a class="logo" th:href="@{/play}">
           		<span>OneClick</span> 
            	<img th:src="@{/img/logo.png}" alt="logo"/>
          	</a>
        </div>

        <nav>
          <ul class="navbar">
            <li class="centrar" sec:authorize="hasAnyAuthority('USER','ADMIN')">
              <a th:href="@{/tienda/}">Tienda</a></a>
            </li>
            <li class="centrar"  sec:authorize="hasAnyAuthority('USER','ADMIN')">
            <a th:href="@{/perfil/list}">Perfil</a>
            </li>
            <li class="centrar">
              <a th:href="@{/usuarios/list/}">Usuarios</a>
            </li>
            <li class="centrar" sec:authorize="hasAnyAuthority('ADMIN')">
              <a th:href="@{/admin/}">Admin</a>
            </li>
            <li class="centrar" sec:authorize="hasAnyAuthority('ADMIN')">
              <a th:href="@{/test/}">Test</a>
            </li>
          </ul>
          
	        <div class="login">
			    <button class="btn btn-principal btn-round" sec:authorize="isAnonymous()" th:data-url="@{/login}" data-toggle="#modalLogin">Login</button>&nbsp;
			    <button class="btn btn-secundario btn-round" sec:authorize="isAnonymous()" th:data-url="@{/signup}" data-toggle="#modalRegister">Registrarse</button>&nbsp;
			    <a class="btn btn-rosa-hover btn-round " sec:authorize="isAuthenticated()" th:href="@{/logout}">Salir</a>
	        </div>
        </nav>
        
        <div class="hamburguesa">
          <i class="fas fa-bars"></i>
        </div>
</header>