<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" th:href="@{/play}">Riko Juego</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <li><a class="nav-link" th:href="@{/tienda/}" sec:authorize="hasAnyAuthority('USER','ADMIN')">Tienda</a></li>
      </li>
     <li class="nav-item">
        <li><a class="nav-link" th:href="@{/perfil/list}" sec:authorize="hasAnyAuthority('USER','ADMIN')">Perfil</a></li>
      </li>
      <li class="nav-item">
        <li><a class="nav-link" th:href="@{/usuarios/list/}">Usuarios</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/}" sec:authorize="hasAnyAuthority('ADMIN')">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/test/}" sec:authorize="hasAnyAuthority('ADMIN')">Test</a>
      </li>
    </ul>  
    <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>&nbsp;
    <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/signup}">Registrarse</a>&nbsp;
    
    <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/logout}">Salir</a>
  </div>
</nav>