<!-- Fragmento para una modal cualquiera -->
<div th:fragment="modal(id, header, body, footer)" th:id="${id}" class="modal oculto">
	<div class="modal-content">
	    <div th:replace="${header}"></div>
	
		<div th:replace="${body}"></div>
	    
	    <div th:replace="${footer}"></div>
	</div>
</div>

<!-- Modales login -->
<div th:fragment="modal-login">
	<div th:replace ="~{::modal('modalLogin', ~{::login-header}, ~{::login-body}, ~{::modal-default-botones(formLogin)})}"></div>
	<div th:replace ="~{::modal('modalRegister', ~{::register-header}, ~{::register-body}, ~{::modal-default-botones(formRegister)})}"></div>
</div>

<div th:fragment="login-header" class="modal-header centrar" >
	<h1>Login</h1>
</div>

 <div th:fragment="login-body" class="modal-body">
	<div th:replace="fragments/validacion/alertas :: alert(${msgLogin})"></div>
	
	<form th:replace="fragments/elementos/forms :: login"></form>
 </div>


<div th:fragment="register-header" class="modal-header centrar">
	<h1>Crea una cuenta</h1>
</div>

 <div th:fragment="register-body" class="modal-body">
 	<div th:replace="fragments/validacion/alertas :: alert(${usuarioInvalido})"></div>
  	<div th:replace="fragments/validacion/alertas :: alert(${msg})"></div>


	<form th:replace="fragments/elementos/forms :: signup"></form>
</div>

<div class="modal-footer" th:fragment="modal-default-botones(formId)">
    <button class="btn btn-rosa-hover" id="modal-cancelar">Cancelar</button>
    <button class="btn btn-secundario-hover" th:form="${formId}">Enviar</button>
</div>