<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<th:block th:replace="fragments/head:: head"/>
    <link th:href="@{/css/propios/clicker.css}" rel="stylesheet">
</head>
<body class="default-plantilla">

	<header th:replace="fragments/menu :: menu-principal"></header>
     
      <main>
      	<section>
      		<a class="btn btn-secundario-hover" th:href="@{/productos/create}">Crear</a>
      	</section>
		
		<table class="table">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>Acciones</th>
			</tr>
			<tr th:each="producto:${productos}">
				<td th:text="${producto.id}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.precio}"></td>
				<td>
					<a th:href="@{/productos/edit/{id} (id=${producto.id})}" class="btn btn-success btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
	                <a th:href="@{/productos/delete/{id} (id=${producto.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-error" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
				</td>
			</tr>
		</table>
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>