<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head:: head"/>
    <link th:href="@{/css/propios/tienda.css}" rel="stylesheet">
</head>
<body class="default-plantilla">

	<header th:replace="fragments/menu :: menu-principal"></header>

	<main class="main">
		<section class="contenedor-column">
				<a class="btn btn-secundario-hover" th:href="@{/action/create}">Crear</a>
		</section>
		
		<table class="tabla-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Producto</th>
					<th>Skin</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="accion:${acciones}" th:object="${accion}">
					<td th:text="*{producto.id}"></td>
					<td th:text="*{producto.nombre}"></td>
					<td th:text="*{skin.nombre}"></td>
					<td>
						<div class="centrar gap">
						<a th:href="@{/action/edit/{id} (id=*{producto.id})}" class="btn btn-mini btn-success" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
		                <a th:href="@{/action/delete/{id} (id=*{producto.id})} "class="btn btn-mini btn-error"  onclick="return confirm('¿Estas seguro?')" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>