<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head:: head"/>
    <link th:href="@{/css/propios/tienda.css}" rel="stylesheet">
</head>
<body class="default-plantilla">

	<header th:replace="fragments/menu :: menu-principal"></header>

	<main class="main">
		<form th:action="@{/action/create}"  method="post" th:object="${accion}">
	
			<input type="hidden" th:field="${producto.id}"></input>
			<h1>Elige una skin para [[${producto.nombre}]]</h1>
			<select th:field="${accion.skin}">
				<option th:each="skin:${skins}" th:object="${skin}" th:value="*{id}" th:text="*{nombre}"></option>
			</select>
		  <button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>