<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<th:block th:replace="fragments/head:: head"/>
    <link th:href="@{/css/propios/clicker.css}" rel="stylesheet">
</head>
<body class="juego-template">

	<header th:replace="fragments/menu :: menu-principal"></header>
        
      <main class="juego">
        <aside class="lateral lateral-izquierda">
			<section class="ventanita daily" sec:authorize="isAuthenticated()">
				<div class="ventanita-header">
					<h1>Recompensa diaria</h1>
				</div>
				<div class="ventanita-body">
					<div class="alert alert-error" th:if="${msg!=null}">
						<small th:text="${msg}"></small>
					</div>
					<div th:replace="fragments/validacion/alertas :: alert(${msgDaily})"></div>
					<small>Disponible todos los días partir de las 00:00</small>
					<a th:href="@{/daily/claim}" class="btn btn-redondo btn-principal-hover abajo" th:if="${!usuario.daily.reclamado}">Reclamar</a>
				</div>
			</section>
			<section class="ventanita novedades" sec:authorize="isAuthenticated()">
				<div class="ventanita-header">
					<h1>Noticias</h1>
				</div>
				<div class="ventanita-body">
					<span>Nuevo personaje disponible</span>
					<span>Actualizacion 1.0</span>
				</div>
			</section>
		</aside>
      
      	<section class="clicker">
      		<h1 id="salida"></h1>
      	    <img id="clicker" alt="Skin seleccionada" th:src="@{/img/{img} (img=${usuario!=null && usuario.skin != null? usuario.skin.imagen: T(com.constants.Constants).DEFAULT_SKIN.imagen})}" />
			<button class="botonEspecial" th:data-url="@{/signup}" data-toggle="#modalRegister" sec:authorize="isAnonymous()">REGISTRATE!</button>
		</section>
		
		<aside class="lateral lateral-derecha">
			<section class="ventanita perfil" sec:authorize="isAuthenticated()">
				<div class="ventanita-header">
					<h1>Perfil</h1>
				</div>
				<div class="ventanita-body">
					<div>
						<span th:text="${'Nombre: ' +  usuario.nombre}"></span>
						<br>
					</div>
					<div>
						<span th:text="${'Dinero: ' +  (usuario !=null ? usuario.puntos:'')}" id="puntosTotales"></span>
						<br>
					</div>
					<div>
						<span th:text="${'Energía: ' +  (usuario.energia.actual + ' / ' + usuario.energia.total)}"></span>
						<br>
					</div>
				</div>
			</section>
			
			<section class="ventanita amigos" sec:authorize="isAuthenticated()">
				<div class="ventanita-header">
					<h1>Amigos</h1>
				</div>
				<div class="ventanita-body">
					<span>Proximamente</span>
				</div>
			</section>
		</aside>
      </main>
	
	<script th:inline="javascript">
	$(window).on("load", function(){
		audio = /*[[
			@{/sounds/{sonido} (sonido=${usuario!=null && usuario.skin != null  ? usuario.skin.sonido : T(com.constants.Constants).DEFAULT_SKIN.sonido})}
			]]*/ "default.wav";
	
		veces = 0;
		audio = new Audio(audio)
		$("#clicker").on("click",function(){
			$("#salida").text("Total: " + ++veces);
			audio.play();
			$.ajax({
				url : '/enviar',
				type : 'GET',
				dataType : 'json',
			    success : function(json) {
			    	$('#puntosTotales').text(`Dinero: ${json.puntos} Berry`);
			    	console.log("Enviado: " , json)
			    }
			});
			if(veces%50==0){
				$("#clicker").addClass("animado");
				setTimeout(function(){$("#clicker").removeClass("animado");}, 4000);
			};
		})
	})
	</script>
	
	    <th:block th:replace="fragments/modals :: modal-login"></th:block>

</body>
</html>