<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pruebas</title>
	<div th:replace="fragments/head:: head"/>
</head>
<body>
	<nav th:replace="fragments/menu :: menu-principal"/>
	
	<!-- 
	<h1 th:text="${usuario}"></h1>
	 -->
	 
	<h1 id="salida"></h1>
	<image class="" id="clicker" th:src="@{/img/{img} (img=${usuario!=null?usuario.skin.imagen:'default.png'})}" />

	<script th:inline="javascript">
	audio = /*[[
		@{/sounds/{sonido} (sonido=${usuario!=null?usuario.skin.sonido:'default.wav'})}
		]]*/ "default.wav";

	veces = 0;
	audio = new Audio(audio)
	$("#clicker").click(function(){
		$("#salida").text("Total: " + ++veces);
		audio.play();
		$.ajax({
			url : '/enviar',
			type : 'GET',
			dataType : 'json',
		    success : function(json) {
		    	console.log("Enviado: " , json)
		    }
		});
		if(veces%50==0){
			$("#clicker").addClass("animado");
			setTimeout(function(){$("#clicker").removeClass("animado");}, 4000);
		};
		})
	</script>
	
</body>
</html>