<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pruebas</title>
	<div th:replace="fragments/head:: head"/>
</head>
<body>
	<nav th:insert="fragments/menu :: menu-principal"/>
	
	<!-- 
	<h1 th:text="${usuario}"></h1>
	 -->
	<h1 id="salida"></h1>
	<image id="rico" th:src="@{/images/rico.png}"></button>
	

	<script  th:if="${usuario!=null}" th:inline="javascript"></script>
	<script>
	veces = 0;
	audio = new Audio("/sounds/rico.wav")
	$("#rico").click(function(){
		$("#salida").text("Total: " + ++veces);
		audio.play();
		$.ajax({
			url : '/enviar',
			type : 'GET',
			dataType : 'json',
		    success : function(json) {
		    	console.log("Enviado: " , json)
		    }
		});
		})
	
	</script>
</body>
</html>