<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head:: head"/>
    <link th:href="@{/css/propios/tienda.css}" rel="stylesheet">
</head>
<body  class="default-plantilla">

	<header th:replace="fragments/menu :: menu-principal"></header>

	<main class="main">
		<section>
			<h2>
				<span id="dinero" th:text=" ${usuario.puntos} + ' '"></span>
				<i class="fab fa-btc"></i>
			</h2>
		</section>
	    
		<section>
			<div class="columna">
				<div class="carta" style="width: 18rem;" th:each="producto:${productos}" th:object="${producto}">
					<div class="carta-header">
						<h3 class="carta-title" th:text="*{nombre}"></h3>
					 	<img th:src="@{/img/{img} (img=*{imagen})}" class="carta-img" th:alt="*{nombre}">
					</div>
					<div class="carta-body">
					   <p class="card-text" th:text="*{descripcion}"></p>
					   <button th:data-id="*{id}" th:data-precio="*{precio}" th:data-equipable="${T(com.enums.Tipo).EQUIPABLE.equals(producto.tipo) ? 'S' : 'N'}" data-toggle="#modalCompra" class="btn btn-redondo btn-rosa-hover" >
				   			<span class="precio">
				   				<span data-toggle="#modalCompra" th:text="*{precio} + ' '"></span>
								<i data-toggle="#modalCompra" class="fab fa-btc"></i>
							</span>
					   </button>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer>
	<th:block th:replace="fragments/modals :: modal-tienda"></th:block>
	
	<script th:inline="javascript">
		const form = $("#compraForm"); 
		
		$("*[data-id]").on("click", function(e) {
			const urlCompra = /*[[@{/tienda/comprar/}]]*/ "/tienda/comprar/";
			form.attr("action", urlCompra + e.currentTarget.dataset.id);
			form.data("precio", e.currentTarget.dataset.precio);
			
			if (e.currentTarget.dataset.equipable === "S") {
			 	$("#cantidad").attr("readonly", "true")
			} else {
				$("#cantidad").removeAttr("readonly", "false")
			}
		});
		
		$("#cantidad").on("change",function() {
			actualizarPrecio();
		});
		
		function actualizarPrecio() {
			const dinero = parseInt($("#dinero").text())
			const precio = parseInt(form.data('precio'));
			const cantidad = $("#cantidad").val();
			const total = dinero - precio * cantidad;
			
			$("#dineroUsuario").text(dinero);
			$("#precioProducto").text(precio);
			$("#cantidadProducto").text(cantidad);
			$("#dineroRestante").text(total);
			
			$("#dineroRestante").parent().addClass(total > 0 ? 'valido' : 'invalido');
			$("#dineroRestante").parent().removeClass(total > 0 ? 'invalido' : 'valido');
		}
		$("#modalCompra").on("mostrar",function(){
			$("#cantidad").val(1);
			actualizarPrecio();
			$("#cantidad").focus();
		});
	</script>
</body>
</html>