<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head:: head"/>
    <link th:href="@{/css/propios/tienda.css}" rel="stylesheet">
</head>
<body  class="default-plantilla">

	<header th:replace="fragments/menu :: menu-principal"></header>

	<main class="main">
		<section>
			<h2>
				<span th:text=" ${usuario.puntos} + ' '"></span>
				<i class="fab fa-btc"></i>
			</h2>
		</section>
	    
		<section>
			<div class="columna">
				<div class="carta" style="width: 18rem;" th:each="producto:${productos}" th:object="${producto}">
					<div class="carta-header">
						<h3 class="carta-title" th:text="*{nombre}"></h3>
					 	<img th:src="@{/img/{img} (img=*{imagen})}" class="carta-img" th:alt="*{nombre}">
					</div>
					<div class="carta-body">
					   <p class="card-text" th:text="*{descripcion}"></p>
					   <a th:href="@{/tienda/comprar/{id}(id=*{id})}" class="btn btn-redondo btn-rosa-hover" onclick="return confirm('¿Estás seguro?')" >
				   		<span>
				   			<span class="precio">
				   				<span th:text="*{precio} + ' '"></span>
								<i class="fab fa-btc"></i>
							</span>
						</span>
					   </a>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>