.alert {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid;
	text-align: center;
}

.alert-error{
	color: darkred;
	background-color: rgb(255, 118, 118,0.3);
	border-color: rgb(255, 118, 118, 0.5);
}
.alert-error:hover{
	background-color: rgb(255, 118, 118, 0.5);
	border-color: rgb(255, 118, 118, 0.6);
	
}

.alert-success{
	color: darkgreen;
	background-color: rgb(123, 255, 118, 0.3);
	border-color: rgb(123, 255, 118, 0.5);
}
.alert-success:hover{
	background-color: rgb(123, 255, 118, 0.5);
	border-color: rgb(123, 255, 118, 0.6);
}


.alert-info{
	color: darkblue;
	background-color: rgb(0, 123, 255, 0.3);
	border-color: rgb(0, 123, 255, 0.5);
}
.alert-info:hover{
	background-color:rgb(0, 123, 255, 0.5);
	border-color: rgb(0, 123, 255, 0.6);
}
