.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 16px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    border-width: 1px;
    border-style: solid;
    transition: background .3s ease, color .3s ease, border-color .3s ease;
    font-style: none;
	text-decoration: none;
	min-width: 100px;
	z-index: 1;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn-round {
    border-radius: 40px;
}

.btn a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}


.btn-principal {
    color: var(--color-texto-principal);
    border-color: var(--color-fondo-principal);
    background: var(--color-fondo-principal);
}

.btn-principal-hover{
    color: var(--color-texto-principal);
    border-color: var(--color-fondo-principal);
    background: var(--color-fondo-principal);
}

.btn-principal-hover:hover{
    color: var(--color-texto-principal);
    background: var(--color-fondo-principal);
}

.btn-secundario {
    color: var(--color-texto-secundario);
    border-color: var(--color-fondo-secundario);
    background: var(--color-fondo-secundario);
}

.btn-secundario-hover{
    color: var(--color-fondo-secundario);
    border-color: var(--color-fondo-secundario);
    background: var(--color-texto-secundario);
}

.btn-secundario-hover:hover{
    color: var(--color-texto-secundario);
    background: var(--color-fondo-secundario);
}



.btn-rosa-hover{
    color: var(--color-boton-rosa);
    border-color: var(--color-boton-rosa);
    background: var(--color-blanco);
}

.btn-rosa-hover:hover{
    color: var(--color-blanco);
    background: var(--color-boton-rosa);
}

.btn-violeta-hover{
    color: var(--color-boton-rosa);
    border-color: var(--color-boton-rosa);
    background: var(--color-blanco);
}

.btn-violeta-hover:hover{
    color: var(--purple);
    background: var(--purple);
}


.btn-success{
    color: var(--color-success-text);
    background: var(--color-success-fondo);
    border: 1px solid var(--color-negro);
}

.btn-error{
    color: var(--color-error-text);
    background: var(--color-error-fondo);
    border: 1px solid var(--color-negro);
}

.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
}

.myButton:hover {
	background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color: #ffab23;
}

.myButton:active {
	position: relative;
	top: 1px;
}