@import url(variables.css);

@import url(botones.css);

@import url(animaciones.css);

@import url(alertas.css);

@import url(tabla.css);

@import url(form.css);

@import url(carta.css);

@import url(paginacion.css);

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji"
}

a, button {
	cursor: pointer;
}

button {
	display: inline-block;
	min-width: 100px;
	height: 2rem;
	margin: 5px;
	border: none;
	border-radius: 2em;
}

.sticky {
	position: sticky;
	top: 0px;
}

.centrar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.gap {
	gap: 5px;
}
.oculto {
	visibility: hidden !important;
}

.error {
	color: red;
}

.contenedor-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
    justify-content: start;
}

.contenedor-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: start;
    justify-content: start;
}

.contenedor-full {
	width: 100vw;
}
.fab {
	font-size: 2rem;
}

ul.sin-estilo {
	list-style: none;
}

ul.sin-estilo li a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.columna {
	padding: 20px 0px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}