:root {
	
	--color-texto-principal: var(--color-negro);
	--color-texto-secundario: var(--color-blanco);
	
	--color-fondo-principal: #FEE1A2;
	--color-fondo-secundario: #684CD1;
	
	--color-boton-rosa: #EC1362;


   	--color-success-text: var(--color-blanco);
    --color-success-fondo: #5cb85c;

	--color-error-text: var(--color-blanco);
    --color-error-fondo: #dc3545;
    
    --color-info-text: var(--color-blanco);
    --color-info-fondo:  rgb(0, 123, 255);
    
     --duracion-anim: 0.1s;
	
	--color-rosa: rgba(230, 0, 255, 0.5087451720505618);
	--color-amarillo: rgba(248, 255, 0, 0.5536889922752809);
	--color-rojo: rgba(255, 94, 35, 0.550880003511236);
	--color-negro: black;
	--color-blanco:white;
	--color-gris: lightgray;
	
}


